
@{
    ViewData["Title"] = "Home Page";
}

@*@model VolumeInfo*@

@model HTTPClientDEMO.Models.VolumeListViewModel

<div>
    @if (Model == null)
    {
        <span style="color:red">no items found</span>
    }
    else
    {
        @foreach (var item in Model.VolumeList)
        {
            @Html.DisplayFor(modelItem => item.Title)
        }
    }

</div>
<div class="text-center">

        <h1 class="display-4">Book Search Results</h1>

        <table class="table table-bordered table-hover">
            <tr>
                <td>Title</td>
                <td>Subtitle</td>
                <td>Authors</td>
                <td>Description</td>
                <td>ISBN</td>
                <td>Actions</td>
            </tr>
            @foreach (var item in Model.VolumeList)
            {
        <tr class="table-info">
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>@Html.DisplayFor(modelItem => item.Subtitle)</td>
            <td>
                @for (int i = 0; i < item.Authors.Count; i++)
                {
                    @Html.DisplayFor(modelItem => item.Authors[i])
                }
            </td>
            <td>@Html.DisplayFor(modelItem => @item.Description)</td>
            <td>
                @for (int i = 0; i < item.IndustryIdentifiers.Count; i++)
                {
                        @Html.DisplayFor(modelItem => item.IndustryIdentifiers[i].Identifier)
                }
            </td>
            <td>
                <a asp-action="ShowDetail" asp-route-id="@item.IndustryIdentifiers[1].Identifier">Details</a>

            </td>
        </tr>

            }
        </table>
    </div>


<br />
<h2>Other properties required</h2>
<p>Is book already in myLibrary</p>
<p>Has myBook been borrowed? Who currently has book?</p>
<p>Location of myBook</p>
<p>Does anyone else in any of the groups have the book? bookInGroup</p>

